@model Pramod.GuestTracker.Web.ViewModels.RegisterAttendanceViewModel

@{
    ViewBag.Title = "Register";
}

<div class="jumbotron">
    <h1>A weds B</h1>
    <p class="lead">Guest Registration</p>
</div>



<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()





            <h3>

                @if (Model.IsVip)
                {
                    <button class="btn btn-success">
                        <span class="glyphicon glyphicon-king  " aria-hidden="true"></span>
                        V I P
                    </button>
                }
                @Model.GuestName &nbsp;<span class="badge">@Model.GuestCode</span>
            </h3>
            <div class="form-group">
                @Html.LabelFor(model => model.NumberOfPeople, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumberOfPeople, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberOfPeople, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                <label for="noofpersons">Number of Persons</label>
                <input type="number" class="form-control" id="noofpersons" placeholder="Number of persons" value="1">
                <a class="btn btn-lg btn-default"> + </a> <a class="btn btn-lg btn-default"> - </a>
            </div>*@
            <button type="submit" class="btn btn-lg btn-primary">Save</button>

            @Html.HiddenFor(model => model.ArrivalTime);
            @Html.HiddenFor(model => model.GuestCode);
            @Html.HiddenFor(model => model.GuestId);
            @Html.HiddenFor(model => model.GuestName);
            @Html.HiddenFor(model => model.IsVip);


        }
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
